<a href="https://colab.research.google.com/github/JiseonByeon96/PersonalProject/blob/main/%EC%84%B8%EC%A2%85%EC%8B%9C_%EB%8F%99%EB%B3%84_%ED%8F%89%EB%8B%B9%EA%B8%88%EC%95%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import 코드

In [ ]:
import numpy as np
import pandas as pd

# 연립다세대 매매

In [2]:
alliance_meme = pd.read_csv('/content/4.세종시_연립다세대(매매)_실거래가.csv', encoding='cp949')

In [6]:
alliance_meme.info()
alliance_meme['거래금액(만원)']=alliance_meme['거래금액(만원)'].replace(',', '')
alliance_meme['거래금액(만원)']=alliance_meme['거래금액(만원)'].str.replace(',', '')
alliance_meme['거래금액(만원)'] = pd.to_numeric(alliance_meme['거래금액(만원)'])
alliance_meme['평당금액'] = (alliance_meme['거래금액(만원)']*3.3) / alliance_meme['전용면적(㎡)']
alliance_meme
place_split = alliance_meme['시군구'].str.split()
alliance_meme['동']=place_split.str.get(1)
alliance_meme
alliance_meme
is_2017 = alliance_meme['계약년월']<201801
alliance_meme[is_2017].to_csv('4.세종시_연립다세대(매매)_실거래가_평당금액.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 529 entries, 0 to 528
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   계약년월      529 non-null    int64
 1   계약일       529 non-null    int64
 2   시군구       529 non-null    object
 3   본번        529 non-null    int64
 4   부번        529 non-null    int64
 5   건물명       529 non-null    object
 6   전용면적(㎡)   529 non-null    float64
 7   대지권면적(㎡)  529 non-null    float64
 8   거래금액(만원)  529 non-null    object
 9   층         529 non-null    int64
 10  건축년도      529 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 45.6+ KB

# 단독다가구 매매

In [29]:
house_meme = pd.read_csv('/content/5.세종시_단독다가구(매매)_실거래가.csv', encoding='cp949')

In [32]:
house_meme.info()
house_meme['거래금액(만원)']=house_meme['거래금액(만원)'].replace(',', '')
house_meme['평당금액'] = (house_meme['거래금액(만원)']*3.3) / house_meme['연면적(㎡)']
house_meme
place_split = house_meme['시군구'].str.split()
house_meme['동']=place_split.str.get(1)
house_meme
house_meme
is_2017 = house_meme['계약년월']<201801
house_meme[is_2017].to_csv('5.세종시_단독주택(매매)_실거래가_평당금액.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997 entries, 0 to 996
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   계약년월      997 non-null    int64
 1   계약일       997 non-null    int64
 2   시군구       997 non-null    object
 3   주택유형      997 non-null    object
 4   도로조건      997 non-null    object
 5   연면적(㎡)    997 non-null    float64
 6   대지면적(㎡)   997 non-null    float64
 7   거래금액(만원)  997 non-null    int64
 8   건축년도      993 non-null    float64
dtypes: float64(3), int64(3), object(3)
memory usage: 70.2+ KB

# 오피스텔 매매

In [33]:
officetel_meme = pd.read_csv('/content/6.세종시_오피스텔(매매)_실거래가.csv', encoding='cp949')

In [35]:
officetel_meme.info()
#officetel_meme['거래금액(만원)']=officetel_meme['거래금액(만원)'].replace(',', '')
officetel_meme['평당금액'] = (officetel_meme['거래금액(만원)']*3.3) / officetel_meme['전용면적(㎡)']
officetel_meme
place_split = officetel_meme['시군구'].str.split()
officetel_meme['동']=place_split.str.get(1)
officetel_meme
officetel_meme
is_2017 = officetel_meme['계약년월']<201801
officetel_meme[is_2017].to_csv('6.세종시_오피스텔(매매)_실거래가_평당금액.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   계약년월      268 non-null    int64
 1   계약일       268 non-null    int64
 2   시군구       268 non-null    object
 3   본번        268 non-null    int64
 4   부번        268 non-null    int64
 5   단지명       268 non-null    object
 6   전용면적(㎡)   268 non-null    float64
 7   거래금액(만원)  268 non-null    int64
 8   층         268 non-null    int64
 9   건축년도      268 non-null    int64
dtypes: float64(1), int64(7), object(2)
memory usage: 21.1+ KB