<a href="https://colab.research.google.com/github/JiseonByeon96/PersonalProject/blob/main/%EC%84%B8%EC%A2%85%EC%8B%9C_%EC%9D%8D%EB%A9%B4%EB%8F%99_%EA%B1%B0%EC%A3%BC%EA%B8%B0%EA%B0%84_%EC%A7%80%EC%B6%9C_%EC%95%84%ED%8C%8C%ED%8A%B8%EB%A7%A4%EB%A7%A4%EA%B0%80_%EA%B4%80%EA%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 종속변수: 아파트 매매가(2020)

In [45]:
apart_mm = pd.read_csv('/content/3.세종시_아파트(매매)_실거래가.csv', encoding='cp949')
apart_mm

         계약년월  계약일               시군구    본번  ...  거래금액(만원)   층  건축년도     동
0      201701    1       세종특별자치시 보람동   628  ...      8600   7  2016   보람동
1      201701    1       세종특별자치시 종촌동   683  ...     27300   7  2014   종촌동
2      201701    2       세종특별자치시 고운동  1393  ...     32000   3  2015   고운동
3      201701    2       세종특별자치시 고운동  1706  ...     30500  20  2015   고운동
4      201701    2       세종특별자치시 아름동  1284  ...     31300   6  2014   아름동
...       ...  ...               ...   ...  ...       ...  ..   ...   ...
21135  202010   27  세종특별자치시 조치원읍 신흥리   399  ...     50000  10  2008  조치원읍
21136  202010   27  세종특별자치시 조치원읍 침산리    89  ...     23500  20  1996  조치원읍
21137  202010   28       세종특별자치시 도담동   639  ...     68000   9  2015   도담동
21138  202010   28   세종특별자치시 부강면 부강리   401  ...      6500  11  1992   부강면
21139  202010   28  세종특별자치시 조치원읍 죽림리   396  ...     37000   6  2008  조치원읍

[21140 rows x 11 columns]

In [46]:
# 동별 아파트 매매가
is_dong = apart_mm['동'].str.endswith('동')
apart_mm_dong = apart_mm[is_dong]
apart_mm_dong[['계약년월', '계약일', '거래금액(만원)', '동']].to_excel('동지역 아파트매매가.xlsx')
apart_mm_dong[['계약년월', '계약일', '거래금액(만원)', '동']].sum()

# 동지역 아파트 매매가 거래금액 총합: 700330557(만원)

In [61]:
# 읍별 아파트 매매가
is_eup = apart_mm['동']=='조치원읍'
apart_mm_eup = apart_mm[is_eup]
apart_mm_eup[['계약년월', '계약일', '거래금액(만원)', '동']].to_excel('조치원읍지역 아파트매매가.xlsx')
apart_mm_eup[['계약년월', '계약일', '거래금액(만원)', '동']].sum()

# 동지역 아파트 매매가 거래금액 총합: 58365154(만원)

계약년월                                                697880473
계약일                                                     53508
거래금액(만원)                                             58365154
동           조치원읍조치원읍조치원읍조치원읍조치원읍조치원읍조치원읍조치원읍조치원읍조치원읍조치원읍조치...
dtype: object

In [62]:
# 면별 아파트 매매가
is_myeon = apart_mm['동'].str.endswith('면')
apart_mm_myeon = apart_mm[is_myeon]
apart_mm_myeon[['계약년월', '계약일', '거래금액(만원)', '동']].to_excel('면지역 아파트매매가.xlsx')
apart_mm_myeon[['계약년월', '계약일', '거래금액(만원)', '동']].sum()

# 동지역 아파트 매매가 거래금액 총합: 12047808(만원)

계약년월                                                234964853
계약일                                                     18352
거래금액(만원)                                             12047808
동           연서면연동면장군면부강면부강면연동면부강면연동면장군면장군면장군면장군면장군면금남면금남면금...
dtype: object

# 독립변수: 월평균소비지출액

In [71]:
period = pd.read_csv('/content/25.세종시_가구_월평균_소비지출액.csv', encoding='cp949')
period.head(4)

      중분류   소분류  50만원 미만  ...  400~500만원 미만  500~600만원 미만  600만원 이상
0      전체    소계      4.5  ...          10.3           3.7       1.3
1  읍·면·동별  조치원읍     10.1  ...           5.4           2.6       0.2
2  읍·면·동별   면지역      9.8  ...           2.6           0.9       0.5
3  읍·면·동별   동지역      1.1  ...          14.3           5.0       1.8

[4 rows x 10 columns]

In [72]:
period['아파트거래액']=0

In [86]:
[period['소분류'] == '조치원읍'] is True

False

In [91]:
period['아파트거래액'] = [700330557 if t else '소계없음' for t in list(period['소분류'] == '동지역')]
period['아파트거래액'] = [12047808 if t else '소계없음' for t in list(period['소분류'] == '면지역')]
period['아파트거래액'] = [58365154 if t else '소계없음' for t in list(period['소분류'] == '조치원읍')]

In [95]:
for t in list(period['소분류']):
    if t == '동지역':
        period['아파트거래액'] = 700330557

In [96]:
period

        중분류           소분류  50만원 미만  ...  500~600만원 미만  600만원 이상     아파트거래액
0        전체            소계      4.5  ...           3.7       1.3  700330557
1    읍·면·동별          조치원읍     10.1  ...           2.6       0.2  700330557
2    읍·면·동별           면지역      9.8  ...           0.9       0.5  700330557
3    읍·면·동별           동지역      1.1  ...           5.0       1.8  700330557
4        성별            남자      2.7  ...           4.5       1.5  700330557
5        성별            여자     10.1  ...           1.5       0.6  700330557
6     거주기간별          출범이전      8.7  ...           2.1       0.0  700330557
7     거주기간별          출범이후      2.8  ...           4.4       1.8  700330557
8       연령별        13~19세     37.6  ...           0.0       0.0  700330557
9       연령별        20~29세     12.0  ...           0.0       0.0  700330557
10      연령별        30~39세      0.5  ...           2.2       1.1  700330557
11      연령별        40~49세      0.3  ...           7.4       1.9  700330557
12      연령별        50~59세      1.1  ...           5.1       2.3  700330557
13      연령별        60세 이상     12.8  ...           1.3       0.4  700330557
14      연령별        65세 이상     17.6  ...           0.6       0.0  700330557
15    교육정도별          초졸이하     22.8  ...           0.0       0.0  700330557
16    교육정도별            중졸      5.0  ...           1.6       0.0  700330557
17    교육정도별            고졸      2.2  ...           1.5       0.5  700330557
18    교육정도별          대학이상      2.7  ...           5.1       1.8  700330557
19      직업별          전문관리      0.7  ...           6.7       3.2  700330557
20      직업별            사무      0.4  ...           4.8       1.1  700330557
21      직업별         서비스판매      1.2  ...           2.4       1.7  700330557
22      직업별           농어업      3.7  ...           0.9       0.0  700330557
23      직업별          기능노무      1.5  ...           2.6       0.0  700330557
24      직업별   군인/주부/학생/무직     18.3  ...           1.3       0.4  700330557
25    혼인상태별            미혼     10.5  ...           0.0       0.5  700330557
26    혼인상태별           유배우      0.8  ...           5.2       1.6  700330557
27    혼인상태별         사별/이혼     19.2  ...           0.0       0.3  700330557
28    가구소득별      100만원 미만     35.2  ...           0.5       0.0  700330557
29    가구소득별  100~200만원 미만      5.1  ...           0.0       0.0  700330557
30    가구소득별  200~300만원 미만      0.5  ...           0.0       0.0  700330557
31    가구소득별  300~400만원 미만      0.2  ...           0.0       0.0  700330557
32    가구소득별  400~500만원 미만      0.0  ...           0.0       0.0  700330557
33    가구소득별  500~600만원 미만      0.0  ...           5.3       0.0  700330557
34    가구소득별  600~700만원 미만      0.0  ...          15.9       4.8  700330557
35    가구소득별      700만원 이상      0.0  ...          18.5       9.0  700330557
36  맞벌이 여부별           맞벌이      0.2  ...           6.2       1.9  700330557
37  맞벌이 여부별        맞벌이 안함      6.7  ...           2.5       0.9  700330557
38  주거점유형태별           자가집      3.7  ...           4.4       1.2  700330557
39  주거점유형태별            전세      2.8  ...           3.1       2.0  700330557
40  주거점유형태별         월세/기타      7.7  ...           2.7       0.9  700330557

[41 rows x 11 columns]