<a href="https://colab.research.google.com/github/JiseonByeon96/PersonalProject/blob/main/%EC%84%B8%EC%A2%85%EC%8B%9C_2019_2020%EC%A0%84%EC%9E%85_%EC%A0%84%EC%B6%9C%EC%9D%B8%EA%B5%AC_%EC%8B%9C%EA%B0%81%ED%99%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 코드 불러오기

In [2]:
pip install geopandas

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/2a/9f/e8a440a993e024c0d3d4e5c7d3346367c50c9a1a3d735caf5ee3bde0aab1/geopandas-0.8.2-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 5.5MB/s
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.5)
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/37/94/4910fd55246c1d963727b03885ead6ef1cd3748a465f7b0239ab25dfc9a3/Fiona-1.8.18-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 254kB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e4/ab/280e80a67cfc109d15428c0ec56391fc03a65857b7727cf4e6e6f99a4204/pyproj-3.0.0.post1-cp36-cp36m-manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.5MB 45.0MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2020.12.5)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.3.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Installing collected packages: click-plugins, munch, cligj, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.18 geopandas-0.8.2 munch-2.5.0 pyproj-3.0.0.post1

In [3]:
import pandas as pd
import numpy as np
import geopandas as gpd
import folium

# 전입인구

In [23]:
in_data = pd.read_csv('/content/20.세종시_전입자수.csv', encoding='utf-8')

In [24]:
in_data

            년월     년  월  전입자수 세종전입행정동   전출시   전출시군구   전출읍면동
0       201701  2017  1     1    조치원읍   강원도     강릉시     교1동
1       201701  2017  1     6    조치원읍   강원도     동해시     천곡동
2       201701  2017  1    14    조치원읍   강원도     속초시      교동
3       201701  2017  1    21    조치원읍   강원도     양양군      서면
4       201701  2017  1     2    조치원읍   강원도     원주시     원인동
...        ...   ... ..   ...     ...   ...     ...     ...
108077  202101  2021  1     3     다정동  충청북도  청주시흥덕구    복대1동
108078  202101  2021  1    56     다정동  충청북도  청주시흥덕구     오송읍
108079  202101  2021  1    32     다정동  충청북도  청주시흥덕구     옥산면
108080  202101  2021  1     8     다정동  충청북도     충주시  교현·안림동
108081  202101  2021  1     9     다정동  충청북도     충주시    중앙탑면

[108082 rows x 8 columns]

In [25]:
#2017년전입
in_data.info()
in_data.drop(['년월', '전출시', '전출시군구', '전출읍면동'], axis = 1, inplace=True)
is_2017 = in_data['년']==2017
in_data_2017 = in_data[is_2017]
in_data_2017 = in_data_2017.groupby(['년', '월', '세종전입행정동']).sum()
in_data_2017 = in_data_2017.reset_index()
in_data_2017.to_csv('2017전입.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108082 entries, 0 to 108081
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   년월       108082 non-null  int64
 1   년        108082 non-null  int64
 2   월        108082 non-null  int64
 3   전입자수     108082 non-null  int64
 4   세종전입행정동  108082 non-null  object
 5   전출시      108082 non-null  object
 6   전출시군구    108082 non-null  object
 7   전출읍면동    108082 non-null  object
dtypes: int64(4), object(4)
memory usage: 6.6+ MB

In [41]:
#2018년전입
in_data.info()
is_2018 = in_data['년']==2018
in_data_2018 = in_data[is_2018]
in_data_2018 = in_data_2018.groupby(['년', '월', '세종전입행정동']).sum()
in_data_2018 = in_data_2018.reset_index()
in_data_2018.to_csv('2018전입.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108082 entries, 0 to 108081
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   년        108082 non-null  int64
 1   월        108082 non-null  int64
 2   전입자수     108082 non-null  int64
 3   세종전입행정동  108082 non-null  object
dtypes: int64(3), object(1)
memory usage: 3.3+ MB

In [42]:
#2019년전입
in_data.info()
is_2019 = in_data['년']==2019
in_data_2019 = in_data[is_2019]
in_data_2019 = in_data_2019.groupby(['년', '월', '세종전입행정동']).sum()
in_data_2019 = in_data_2019.reset_index()
in_data_2019.to_csv('2019전입.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108082 entries, 0 to 108081
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   년        108082 non-null  int64
 1   월        108082 non-null  int64
 2   전입자수     108082 non-null  int64
 3   세종전입행정동  108082 non-null  object
dtypes: int64(3), object(1)
memory usage: 3.3+ MB

In [43]:
#2020년전입
in_data.info()
is_2020 = in_data['년']==2020
in_data_2020 = in_data[is_2020]
in_data_2020 = in_data_2020.groupby(['년', '월', '세종전입행정동']).sum()
in_data_2020 = in_data_2020.reset_index()
in_data_2020.to_csv('2020전입.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108082 entries, 0 to 108081
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   년        108082 non-null  int64
 1   월        108082 non-null  int64
 2   전입자수     108082 non-null  int64
 3   세종전입행정동  108082 non-null  object
dtypes: int64(3), object(1)
memory usage: 3.3+ MB

In [45]:
#2019년-2020년 전입
in_data = pd.read_csv('/content/20.세종시_전입자수.csv')
in_data

            년월     년  월  전입자수 세종전입행정동   전출시   전출시군구   전출읍면동
0       201701  2017  1     1    조치원읍   강원도     강릉시     교1동
1       201701  2017  1     6    조치원읍   강원도     동해시     천곡동
2       201701  2017  1    14    조치원읍   강원도     속초시      교동
3       201701  2017  1    21    조치원읍   강원도     양양군      서면
4       201701  2017  1     2    조치원읍   강원도     원주시     원인동
...        ...   ... ..   ...     ...   ...     ...     ...
108077  202101  2021  1     3     다정동  충청북도  청주시흥덕구    복대1동
108078  202101  2021  1    56     다정동  충청북도  청주시흥덕구     오송읍
108079  202101  2021  1    32     다정동  충청북도  청주시흥덕구     옥산면
108080  202101  2021  1     8     다정동  충청북도     충주시  교현·안림동
108081  202101  2021  1     9     다정동  충청북도     충주시    중앙탑면

[108082 rows x 8 columns]

In [46]:
in_data.drop(['전출시', '전출시군구', '전출읍면동'], axis = 1, inplace=True)

In [47]:
in_data[is_2017]

           년월     년   월  전입자수 세종전입행정동
0      201701  2017   1     1    조치원읍
1      201701  2017   1     6    조치원읍
2      201701  2017   1    14    조치원읍
3      201701  2017   1    21    조치원읍
4      201701  2017   1     2    조치원읍
...       ...   ...  ..   ...     ...
23491  201712  2017  12    16     보람동
23492  201712  2017  12   238     보람동
23493  201712  2017  12    16     보람동
23494  201712  2017  12     6     보람동
23495  201712  2017  12     2     보람동

[23496 rows x 5 columns]

# 전출인구

In [50]:
out_data = pd.read_csv('/content/21.세종시_전출자수.csv', encoding='utf-8')

In [51]:
out_data

           년월     년  월  전출자수 세종전출행정동   전입시    전입시군구  전입읍면동
0      201701  2017  1     3    조치원읍   강원도      원주시    단계동
1      201701  2017  1     9    조치원읍   강원도      춘천시   신사우동
2      201701  2017  1    13    조치원읍   강원도      홍천군     서면
3      201701  2017  1     3    조치원읍   경기도  고양시 덕양구    행주동
4      201701  2017  1     1    조치원읍   경기도  고양시 덕양구   화정1동
...       ...   ... ..   ...     ...   ...      ...    ...
80987  202101  2021  1    22     다정동  충청북도      옥천군    옥천읍
80988  202101  2021  1     2     다정동  충청북도   청주시상당구   용암1동
80989  202101  2021  1    35     다정동  충청북도   청주시청원구    오창읍
80990  202101  2021  1    13     다정동  충청북도   청주시흥덕구  강서제1동
80991  202101  2021  1    84     다정동  충청북도   청주시흥덕구    오송읍

[80992 rows x 8 columns]

In [53]:
#2019년전출
out_data.info()
is_2019 = out_data['년']==2019
out_data_2019 = out_data[is_2019]
out_data_2019 = out_data_2019.groupby(['년', '월', '세종전출행정동']).sum()
out_data_2019 = out_data_2019.reset_index()
out_data_2019.to_csv('2019전출.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80992 entries, 0 to 80991
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       80992 non-null  int64
 1   년        80992 non-null  int64
 2   월        80992 non-null  int64
 3   전출자수     80992 non-null  int64
 4   세종전출행정동  80992 non-null  object
 5   전입시      80992 non-null  object
 6   전입시군구    80992 non-null  object
 7   전입읍면동    80992 non-null  object
dtypes: int64(4), object(4)
memory usage: 4.9+ MB

In [54]:
#2020년전출
out_data.info()
is_2020 = out_data['년']==2020
out_data_2020 = out_data[is_2020]
out_data_2020 = out_data_2020.groupby(['년', '월', '세종전출행정동']).sum()
out_data_2020 = out_data_2020.reset_index()
out_data_2020.to_csv('2020전출.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80992 entries, 0 to 80991
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       80992 non-null  int64
 1   년        80992 non-null  int64
 2   월        80992 non-null  int64
 3   전출자수     80992 non-null  int64
 4   세종전출행정동  80992 non-null  object
 5   전입시      80992 non-null  object
 6   전입시군구    80992 non-null  object
 7   전입읍면동    80992 non-null  object
dtypes: int64(4), object(4)
memory usage: 4.9+ MB

# 전입전출 비교

In [56]:
in_data = pd.read_excel('/content/1920전입.xlsx')

In [57]:
out_data = pd.read_excel('/content/1920전출.xlsx')

In [59]:
in_data

(        년   월 세종전입행정동   전입자수
 0    2019   1     고운동   5686
 1    2019   1     금남면   1567
 2    2019   1     대평동   5573
 3    2019   1     도담동   4445
 4    2019   1     보람동   2176
 ..    ...  ..     ...    ...
 457  2020  12     전동면    334
 458  2020  12     전의면    733
 459  2020  12    조치원읍  10588
 460  2020  12     종촌동   2705
 461  2020  12     한솔동   1545

 [462 rows x 4 columns],         년   월 세종전출행정동  전출자수
 0    2020   1     고운동  2638
 1    2020   1     금남면  1803
 2    2020   1     대평동  1036
 3    2020   1     도담동  3979
 4    2020   1     보람동  2045
 ..    ...  ..     ...   ...
 456  2019  12     전동면   333
 457  2019  12     전의면   677
 458  2019  12    조치원읍  6599
 459  2019  12     종촌동  1843
 460  2019  12     한솔동  1505

 [461 rows x 4 columns])

In [116]:
in_data = in_data.set_index('세종전입행정동')

In [79]:
out_data = out_data.sort_values(by=['년', '월'], ascending=True)
out_data = out_data.reset_index()
out_data.drop('index', axis=1, inplace=True)

In [113]:
out_data = out_data.set_index('세종전출행정동')

In [121]:
out_data

            년   월  전출자수
세종전출행정동
고운동      2019   1  2029
금남면      2019   1  1560
대평동      2019   1   898
도담동      2019   1  3972
보람동      2019   1  1019
...       ...  ..   ...
전동면      2020  12   487
전의면      2020  12   712
조치원읍     2020  12  9915
종촌동      2020  12  3004
한솔동      2020  12  1723

[461 rows x 3 columns]

In [119]:
in_data

            년   월   전입자수
세종전입행정동
고운동      2019   1   5686
금남면      2019   1   1567
대평동      2019   1   5573
도담동      2019   1   4445
보람동      2019   1   2176
...       ...  ..    ...
전동면      2020  12    334
전의면      2020  12    733
조치원읍     2020  12  10588
종촌동      2020  12   2705
한솔동      2020  12   1545

[462 rows x 3 columns]

In [120]:
in_data.join(out_data, how='left', lsuffix='in', rsuffix='out')

      년in  월in  전입자수  년out  월out  전출자수
고운동  2019    1  5686  2019     1  2029
고운동  2019    1  5686  2019     2  2620
고운동  2019    1  5686  2019     3  2211
고운동  2019    1  5686  2019     4  1850
고운동  2019    1  5686  2019     5  2600
..    ...  ...   ...   ...   ...   ...
한솔동  2020   12  1545  2020     8  1292
한솔동  2020   12  1545  2020     9  1775
한솔동  2020   12  1545  2020    10  2062
한솔동  2020   12  1545  2020    11  1979
한솔동  2020   12  1545  2020    12  1723

[10974 rows x 6 columns]

In [104]:
pd.concat([in_data, out_data], axis=1)

        년   월 세종전입행정동   전입자수  index       년     월 세종전출행정동    전출자수
0    2019   1     고운동   5686  233.0  2019.0   1.0     고운동  2029.0
1    2019   1     금남면   1567  234.0  2019.0   1.0     금남면  1560.0
2    2019   1     대평동   5573  235.0  2019.0   1.0     대평동   898.0
3    2019   1     도담동   4445  236.0  2019.0   1.0     도담동  3972.0
4    2019   1     보람동   2176  237.0  2019.0   1.0     보람동  1019.0
..    ...  ..     ...    ...    ...     ...   ...     ...     ...
457  2020  12     전동면    334  229.0  2020.0  12.0     전의면   712.0
458  2020  12     전의면    733  230.0  2020.0  12.0    조치원읍  9915.0
459  2020  12    조치원읍  10588  231.0  2020.0  12.0     종촌동  3004.0
460  2020  12     종촌동   2705  232.0  2020.0  12.0     한솔동  1723.0
461  2020  12     한솔동   1545    NaN     NaN   NaN     NaN     NaN

[462 rows x 9 columns]

In [130]:
out_data = out_data.reset_index()

In [129]:
in_data = in_data.reset_index()

In [140]:
out_data.columns=['동', '년', '월', '전출자수']

In [142]:
in_data.columns=['동', '년', '월', '전입자수']

In [146]:
inout_data = pd.merge(in_data, out_data, how='left', on=['년','월','동'])

In [148]:
inout_data.to_excel('전출입자 동별 연도별 월별 통계.xlsx')

In [ ]:
# 시각화