<a href="https://colab.research.google.com/github/JiseonByeon96/PersonalProject/blob/main/%EC%A7%80%EC%97%AD%EB%B3%84_%ED%8F%90%EA%B8%B0%EB%AC%BC_%EB%B0%9C%EC%83%9D%EB%9F%89_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_excel('/content/drive/MyDrive/생활폐기물/지역별가정생활폐기물발생현황.xlsx', sheet_name = '18', header = 3)
data = data.loc[:, :'총계'].iloc[2:].drop([])
data['Unnamed: 3'] = np.where(pd.notnull(data['Unnamed: 3'])==True, data['Unnamed: 3'], '발생량')
data.drop('발생량 및\n처리현황', axis = 1, inplace=True)
data.columns = ['시도', '시군구', '처리현황', '총계']
data

      시도   시군구 처리현황       총계
2     전국    합계  발생량  46749.3
3    NaN   NaN   매립   6545.2
4    NaN   NaN   소각  12429.3
5    NaN   NaN  재활용  27774.8
6     서울    소계  발생량   8586.9
..   ...   ...  ...      ...
989  NaN   NaN  재활용    472.2
990   제주  서귀포시  발생량    278.2
991  NaN   NaN   매립     18.3
992  NaN   NaN   소각     50.1
993  NaN   NaN  재활용    209.8

[992 rows x 4 columns]